<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    <meta name="Description" content="A compounds list.">
    <meta name="author" content="Rupesh Patel">
    <meta property="og:title" content="Compounds List">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=2.0">

  </head>
  <body>
    <h1>{% block header %}{% endblock %}</h1>

    {% block content %}{% endblock %}
  </body>
</html>